{% extends 'layouts/app.html.twig' %}
{% block title %}Quizert - Login{% endblock %}
{% block content %}

    {% include 'layouts/topnav.html.twig' %}
    <section class="content">
    {% include 'layouts/carousel.html.twig' %}


    <div class="container" style="margin-top:20px;">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="post" style="padding: 25px;">

                    {% for message in app.flashes('login') %}
                        <input id="backbuttonstate" type="text" value="0" style="display:none;" />
                        <div id="messagelogin">
                            <transition name="fade">
                                <div v-if="statusMessage" class="flash-notice-login" v-cloak>
                                    {{ message }} <div class="timesclose" @click = "hidenotice">&times</div>
                                </div>
                            </transition>
                        </div>

                        <script>
                            new Vue({
                                el: '#messagelogin',
                                data: {
                                    statusMessage: false,
                                    backbuttonstate,
                                },
                                mounted: function() {
                                    this.hidemessage();
                                    var self = this;
                                    document.addEventListener('DOMContentLoaded', function () {
                                       this.backbuttonstate = document.getElementById("backbuttonstate");
                                       if (this.backbuttonstate.value == "0") {
                                         self.statusMessage = true;
                                         this.backbuttonstate.value = "1";
                                       } else {
                                           self.statusMessage = false;
                                         // Back button has been fired.. Do Something different..
                                       }
                                    }, false);
                                },
                                methods: {
                                    hidemessage() {
                                        var self = this;
                                        setTimeout(function(){
                                            self.statusMessage = false
                                        }, 4000);
                                    },
                                    hidenotice() {
                                        this.statusMessage = false;
                                    }
                                }
                            });
                        </script>
                    {% endfor %}

                    <form method="POST" action="{{ path('login') }}">
                        <div class="form-group row">
                            <div class="loginname">
                                Log in and use all the possibilities of the site!
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label text-md-right"><b>Username</b></label>

                            <div class="col-md-6">
                                <input id="email" type="text" class="form-control" name="_username" value="{{ last_username }}" required autofocus>
                                {% if error %}
                                <span class="errorspan"><b style="color: #b21f2d">{{ error.messageKey }}</b></span>
                            {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right"><b>Password</b></label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="_password" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="remember_me" name="_remember_me">Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                            </div>
                        </div><br>
                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <a href="{{ path('register') }}" class="hoverhref">Don't have an account?</a>
                            </div>
                        </div>
                </form>
                </div>
            </div>
           {% include 'layouts/sidebar.html.twig' %}
       </div>
    </div>


    </section>
    {% include 'layouts/footer.html.twig' %}
{% endblock %}