{% extends 'layouts/app.html.twig' %}
{% block title %}quizer{% endblock %}
{% block content %}

    {% include 'layouts/topnav.html.twig' %}
    <section class="content">
    {% include 'layouts/carousel.html.twig' %}


    <div class="container" style="margin-top:20px;">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="post" style="padding: 25px; border-top: 4px solid dodgerblue;">
                <form method="POST" id="profileform" action="{{ path('profilemethod') }}" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="avatar" class="col-sm-4 col-form-label text-md-right"><b>Profile image</b></label>

                        <div class="col-md-6">
                            <input class="form-control" accept="image/*"  onchange="loadFile2(event)" name="image" type="file" id="imgInp">
                            <div class="imageprofilediv">
                                <img
                                    {% if UserDB.image == '' %}
                                        src="{{ asset('img/noperson.jpg') }}"
                                    {% else %}
                                        src="{{ asset(UserDB.username ~ '/' ~ UserDB.image) }}"
                                    {% endif %}
                                    class="circle imageprofile"
                                    id="output2"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-4 col-form-label text-md-right"><b>Username</b></label>

                        <div class="col-md-6">
                            <input id="username" data-username="{{ UserDB.username }}"  value="{{ UserDB.username }}" type="text" class="form-control" name="_username" required>
                            <span class="errorspan"><b id="usernameerror" class="rederror"></b></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-md-4 col-form-label text-md-right"><b>Email</b></label>

                        <div class="col-md-6">
                            <input id="email" data-email="{{ UserDB.email }}" type="email" class="form-control" value="{{ UserDB.email }}" name="_email" required>
                            <span class="errorspan"><b id="emailerror" class="rederror"></b></span>
                        </div>
                    </div>


                    <div class="form-group row mb-0">
                        <div class="col-md-8 offset-md-4">
                            <button @click="validationprofile" type="button" class="btn btn-primary">
                                Sava changes
                            </button>
                        </div>
                    </div><br>
                </form>
                </div>
            </div>
           {% include 'layouts/sidebar.html.twig' %}
       </div>
    </div>


    </section>
    {% include 'layouts/footer.html.twig' %}
{% endblock %}